.company-description {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 7.5vh;
}

.rhombus {
    display: block;
}

.company-description p {
    max-width: 70vw;
    padding-top: 0;
    padding-bottom: 2.5vh;
    font-size: 2.7em;
    line-height: 1.5;
    color: #000;
    font-weight: 600;
    text-align: center;
    /* render plain black text */
    background: none;
    background-image: none;
    -webkit-background-clip: unset; /* remove clipping */
    background-clip: unset;
    -webkit-text-fill-color: initial;
    color: #000;
}